DATABASE_URL=postgresql+psycopg://heza:heza@localhost:5433/heza

JWT_SECRET_KEY=change-me-in-production
ACCESS_TOKEN_EXPIRE_MINUTES=15

RUN_SCHEDULER=true


CORS_ORIGINS=http://localhost:8080,http://127.0.0.1:8080,http://localhost:8081,http://127.0.0.1:8081
